body {
  margin: 0;
  font-family: sans-serif;
  background: url("https://source.unsplash.com/nDqA4d5NL0k/2000x2000");
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

#bands {
  list-style: inside square;
  font-size: 20px;
  background: white;
  width: 500px;
  margin: auto;
  padding: 0;
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.05);
  flex: 1;
}

#bands li {
  border-bottom: 1px solid #efefef;
  padding: 20px;
}

#bands li:last-child {
  border-bottom: 0;
}

a {
  color: #ffc600;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  width: 100vw;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
  width: 500px;
  padding-top: 50px;
}

button {
  height: 50px;
  width: 100px;
  font-weight: 400;
  background-color: #dbf8f7;
  border-radius: 0.5;
  border: 1px solid transparent;
  font-size: 1rem;
}
